<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs')%>
    </head>
    <body class="login">
        <div class="flex justify-center">
            <h1 class="h1_login text-5xl text-gray-600 pt-20 pb-10">
                Welcome to Blogs
            </h1>
        </div>
        <div>
            <div class="create-blog content pt-10">
                <form>
                    <a href="/login">Login</a>
                    <a href="/signup">Sign Up</a>

                </form>
            </div>
        </div>
    </body>
    <%- include('./partials/footer.ejs')%>

</html>
